@import "../../../../styles/variable";
.About {
  width: 70%;
  position: absolute;
  top: 57%;
  left: 30%;
  transform: translate(-25%, -50%);
  .hi {
    color: $second;
    margin-bottom: 20px;
    p {
      letter-spacing: 2px;
    }
  }
  .name {
    color: $first;
    .raihana {
      font-family: "black";
      font-size: 55px;
    }
    // ***

    // **
    h2 {
      font-size: 70px;
      margin: 0px 0 20px;
      font-family: "black";
      opacity: 0.6;
    }
  }
  .description {
    width: 93%;
    color: $first;
    font-size: 15px;
    line-height: 30px;
  }
}



.line-1 {
  // position: relative;
  // top: 80%;
  // width: 24em;
  // margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  // font-size: 180%;
  // text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

/* Animation */
.anim-typewriter {
  animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 13.3em;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
