.navbar {
  .resume {
    ul {
      list-style: none;
      display: flex;
      justify-content: space-evenly;
      position: fixed;
      top: 10%;
      right: 10%;
      // background-color: aqua;
      li {
        margin-left: 20px;
        a {
          display: flex;
          align-items: center;
          h6 {
            font-size: 16px;
            margin: 0 2px;
          }
          span {
            font-weight: 500;
            color: rgb(3, 159, 81);
          }
        }
      }
      button {
        border: 1px solid rgb(12, 172, 92);
        border-radius: 5px;
        margin-left: 35px;
        width: 90px;
        height: 30px;
        font-weight: 500;
        background-color: transparent;
      }
    }
  }
  .icons {
    position: fixed;
    top: 60%;
    left: 7%;

    a {
      display: block;
      margin-bottom: 10px;
      color: rgb(3, 159, 81);
    }
    div {
      color: white;
      height: 110px;
      border-left: 3px solid rgb(3, 159, 81);
      margin: 0 8px;
    }
  }
  .email {
    position: fixed;
    bottom: 22%;
    right: 1%;
    // background-color: aqua;
    rotate: (90deg);
    a {
      margin: 0;
      color: rgb(3, 159, 81);
      font-size: 15px;
    }
  }
  .di {
    position: fixed;
    bottom:0px;
    right: 8.2%;
    color: white;
    height: 30px;
    border-left: 3px solid rgb(3, 159, 81);
    // margin: 0 8px;
  }
}
